{
  "openapi": "3.1.0",
  "info": {
    "title": "AAAA Nexus API",
    "version": "0.5.1",
    "description": "Formally verified AI safety APIs for autonomous agents. Supports REST, MCP, A2A (Google protocol), and x402 micropayment protocol.",
    "contact": {
      "email": "atomadic@proton.me",
      "url": "https://github.com/atomadictech/aaaa-nexus"
    }
  },
  "servers": [
    {
      "url": "https://atomadic.tech",
      "description": "Production"
    }
  ],
  "security": [],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key obtained from https://atomadic.tech/pay"
      },
      "X402PaymentProof": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment-Proof",
        "description": "Base64-encoded USDC payment proof for x402 autonomous payment flow (Base L2, Polygon, or Solana)"
      },
      "AdminTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Token",
        "description": "Admin token for privileged operations"
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required. Use x402 protocol: send USDC on Base L2, Polygon, or Solana to the treasury address provided in the response, then retry with the X-Payment-Proof header.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Payment required" },
                "amount": { "type": "string", "example": "0.002" },
                "currency": { "type": "string", "example": "USDC" },
                "treasury": { "type": "string", "description": "Destination wallet address" },
                "chains": {
                  "type": "array",
                  "items": { "type": "string" },
                  "example": ["base", "polygon", "solana"]
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Unauthorized" }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request body or missing required fields.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "HelixStatus": {
        "type": "object",
        "description": "HELIX integrity subsystem status",
        "properties": {
          "anti_hallucination": { "type": "boolean" },
          "ecc_status": { "type": "boolean" },
          "integrity_parity": { "type": "boolean" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system"],
            "description": "Message role"
          },
          "content": {
            "type": "string",
            "description": "Message content"
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Free", "description": "Endpoints that require no authentication or payment" },
    { "name": "Oracle", "description": "Entropy oracle and hallucination detection" },
    { "name": "Security", "description": "RatchetGate session security, identity verification, threat scoring, and compliance" },
    { "name": "Agents", "description": "Agent registration, topology, planning, intent classification, and reputation" },
    { "name": "Inference", "description": "LLM inference with built-in hallucination guard" },
    { "name": "Text", "description": "Text processing utilities: summarization, sentiment, NER, translation, and more" },
    { "name": "Protocol", "description": "Protocol discovery endpoints: MCP and A2A agent card" },
    { "name": "DeFi", "description": "Decentralized finance: LP optimization, risk scoring, oracle guard, liquidation shield, bridge proof, contract audit, yield oracle" },
    { "name": "Compliance", "description": "Regulatory compliance: EU AI Act, fairness, explainability, lineage, oversight, incidents, transparency" },
    { "name": "Payments", "description": "Stripe payment sessions, price listing, and payment verification" },
    { "name": "Forge", "description": "Model marketplace: leaderboard, quarantine, verification, delta submission, badges" },
    { "name": "Shield", "description": "AAAA Shield: post-quantum key exchange, session management, key rotation" },
    { "name": "Delegation", "description": "UCAN delegation chain validation, revocation, and depth queries" },
    { "name": "UCAN", "description": "UCAN token creation, verification, revocation, and delegation" },
    { "name": "Keys", "description": "Cryptographic key generation, rotation, and revocation" },
    { "name": "Credits", "description": "Credit balance, usage history, and detailed usage breakdown" },
    { "name": "Audit", "description": "Audit event logging, trail retrieval, and export" },
    { "name": "Swarm", "description": "Swarm messaging: relay, broadcast, join, leave, topology, peers" },
    { "name": "Trust", "description": "Bounded trust scoring and trust history (TCM-100-BoundedMonotonicity)" },
    { "name": "Reputation", "description": "Reputation ledger: record interactions, score queries, history" },
    { "name": "Escrow", "description": "Agent-to-agent escrow: create, release, dispute, status" },
    { "name": "SLA", "description": "SLA management: register, report violations, status checks" },
    { "name": "VeriRand", "description": "Premium verifiable random bytes and batch/stream RNG" },
    { "name": "VRF", "description": "Verifiable random function for gaming draws and verification" },
    { "name": "Drift", "description": "DriftGuard model drift detection and certification" },
    { "name": "Identity", "description": "Agent identity registration, lookup, revocation, and challenges" }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Service health and version",
        "description": "Returns current service status, version, build date, entropy epoch, and HELIX subsystem flags.",
        "tags": ["Free"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "version": { "type": "string", "example": "0.5.0" },
                    "build": { "type": "string", "example": "2026-04-08" },
                    "epoch": { "type": "integer", "example": 17409216 },
                    "next_epoch_in_s": { "type": "integer", "example": 45 },
                    "helix": { "$ref": "#/components/schemas/HelixStatus" }
                  }
                },
                "example": {
                  "status": "ok",
                  "version": "0.5.0",
                  "build": "2026-04-08",
                  "epoch": 17409216,
                  "next_epoch_in_s": 45,
                  "helix": {
                    "anti_hallucination": true,
                    "ecc_status": true,
                    "integrity_parity": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiSpec",
        "summary": "OpenAPI specification",
        "description": "Returns the full OpenAPI 3.x specification for this API.",
        "tags": ["Free"],
        "responses": {
          "200": {
            "description": "OpenAPI specification document",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent.json": {
      "get": {
        "operationId": "getAgentCard",
        "summary": "A2A agent card",
        "description": "Returns the Google A2A protocol agent card for agent discovery and capability advertisement.",
        "tags": ["Protocol", "Free"],
        "responses": {
          "200": {
            "description": "A2A agent card",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp.json": {
      "get": {
        "operationId": "getMcpManifest",
        "summary": "MCP server manifest",
        "description": "Returns the MCP server manifest for client auto-discovery.",
        "tags": ["Protocol", "Free"],
        "responses": {
          "200": {
            "description": "MCP server manifest",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "operationId": "getAiPluginManifest",
        "summary": "OpenAI plugin manifest",
        "description": "Returns the OpenAI plugin manifest for ChatGPT plugin discovery.",
        "tags": ["Protocol", "Free"],
        "responses": {
          "200": {
            "description": "OpenAI plugin manifest",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/pricing.json": {
      "get": {
        "operationId": "getPricingManifest",
        "summary": "Machine-readable pricing",
        "description": "Returns machine-readable pricing for all API endpoints.",
        "tags": ["Free"],
        "responses": {
          "200": {
            "description": "Pricing manifest",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "operationId": "getAgentCardAlt",
        "summary": "Alternative A2A agent card path",
        "description": "Alternative path for the A2A agent card, for compatibility with various A2A client implementations.",
        "tags": ["Protocol", "Free"],
        "responses": {
          "200": {
            "description": "A2A agent card",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/v1/oracle/entropy": {
      "get": {
        "operationId": "getEntropyEpoch",
        "summary": "Entropy epoch oracle",
        "description": "Returns the current entropy epoch for zero-RTT A2A handshakes. No authentication required.",
        "tags": ["Free", "Oracle"],
        "responses": {
          "200": {
            "description": "Current entropy epoch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epoch": { "type": "integer", "example": 17409216 },
                    "entropy": { "type": "string", "example": "a3f8c2..." },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-04-09T12:00:00Z" },
                    "source": { "type": "string", "example": "quantum_ensemble" },
                    "verified": { "type": "boolean", "example": true }
                  }
                },
                "example": {
                  "epoch": 17409216,
                  "entropy": "a3f8c2...",
                  "timestamp": "2026-04-09T12:00:00Z",
                  "source": "quantum_ensemble",
                  "verified": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/rng/quantum": {
      "get": {
        "operationId": "getQuantumRng",
        "summary": "Quantum random number with proof",
        "description": "Returns a verifiable quantum random value with cryptographic proof. No authentication required.",
        "tags": ["Free", "Oracle"],
        "responses": {
          "200": {
            "description": "Quantum random value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "random": { "type": "string", "example": "0x7f3a8c2e9d1b4a6f..." },
                    "bits": { "type": "integer", "example": 256 },
                    "source": { "type": "string", "example": "quantum" },
                    "verified": { "type": "boolean", "example": true },
                    "epoch": { "type": "integer", "example": 17409216 }
                  }
                },
                "example": {
                  "random": "0x7f3a8c2e9d1b4a6f...",
                  "bits": 256,
                  "source": "quantum",
                  "verified": true,
                  "epoch": 17409216
                }
              }
            }
          }
        }
      }
    },
    "/v1/rng/verify": {
      "get": {
        "operationId": "verifyRng",
        "summary": "Verify current epoch random value",
        "description": "Verify that the current epoch random value is valid and has not been tampered with.",
        "tags": ["Free", "Oracle"],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epoch": { "type": "integer" },
                    "valid": { "type": "boolean" },
                    "proof": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rng/seeded": {
      "post": {
        "operationId": "seededRng",
        "summary": "Seeded deterministic RNG",
        "description": "Generate deterministic random values from a provided seed. Paid endpoint.",
        "tags": ["VeriRand"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["seed"],
                "properties": {
                  "seed": { "type": "string", "example": "my-deterministic-seed" },
                  "count": { "type": "integer", "example": 10 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deterministic random values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "values": { "type": "array", "items": { "type": "string" } },
                    "seed": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/rng/batch": {
      "post": {
        "operationId": "batchRng",
        "summary": "Batch random generation",
        "description": "Generate a batch of random values in a single request. Paid endpoint.",
        "tags": ["VeriRand"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["count"],
                "properties": {
                  "count": { "type": "integer", "example": 100 },
                  "bits": { "type": "integer", "example": 256 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch random values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "values": { "type": "array", "items": { "type": "string" } },
                    "count": { "type": "integer" },
                    "bits": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/rng/stream": {
      "post": {
        "operationId": "streamRng",
        "summary": "Streaming random values",
        "description": "Stream random values via Server-Sent Events. Paid endpoint.",
        "tags": ["VeriRand"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": { "type": "integer", "example": 1000 },
                  "bits": { "type": "integer", "example": 256 },
                  "interval_ms": { "type": "integer", "example": 100 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of random values",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string", "description": "Server-Sent Events stream of random values" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/verirand/bytes": {
      "post": {
        "operationId": "verirandBytes",
        "summary": "Premium verifiable random bytes",
        "description": "Generate premium verifiable random bytes with cryptographic proof. Paid endpoint.",
        "tags": ["VeriRand"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["length"],
                "properties": {
                  "length": { "type": "integer", "example": 32, "description": "Number of bytes to generate" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verifiable random bytes with proof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bytes": { "type": "string", "description": "Hex-encoded random bytes" },
                    "length": { "type": "integer" },
                    "proof": { "type": "string" },
                    "verified": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "summary": "Register an agent",
        "description": "Register an agent in the swarm topology. Compatible with the Google A2A protocol. No authentication required.",
        "tags": ["Free", "Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id", "capabilities"],
                "properties": {
                  "agent_id": { "type": "string", "example": "my-agent-001" },
                  "capabilities": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["inference", "planning", "code-generation"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string", "example": "my-agent-001" },
                    "registered_at": { "type": "string", "format": "date-time", "example": "2026-04-09T14:30:00Z" },
                    "status": { "type": "string", "example": "active" },
                    "capabilities": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["inference", "planning"]
                    }
                  }
                },
                "example": {
                  "agent_id": "my-agent-001",
                  "registered_at": "2026-04-09T14:30:00Z",
                  "status": "active",
                  "capabilities": ["inference", "planning"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/agents/topology": {
      "get": {
        "operationId": "getSwarmTopology",
        "summary": "Live swarm topology",
        "description": "Returns live swarm topology statistics for all registered agents. No authentication required.",
        "tags": ["Free", "Agents"],
        "responses": {
          "200": {
            "description": "Swarm topology",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": { "type": "integer", "example": 1247 },
                    "edges": { "type": "integer", "example": 3891 },
                    "average_degree": { "type": "number", "format": "float", "example": 3.1 },
                    "components": { "type": "integer", "example": 5 },
                    "largest_component_size": { "type": "integer", "example": 1240 }
                  }
                },
                "example": {
                  "agents": 1247,
                  "edges": 3891,
                  "average_degree": 3.1,
                  "components": 5,
                  "largest_component_size": 1240
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/status": {
      "get": {
        "operationId": "getAgentStatus",
        "summary": "Agent status lookup",
        "description": "Look up the current status of a registered agent.",
        "tags": ["Agents"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Agent status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["active", "inactive", "suspended"] },
                    "last_seen": { "type": "string", "format": "date-time" },
                    "uptime_s": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/capabilities": {
      "get": {
        "operationId": "getAgentCapabilities",
        "summary": "List agent capabilities",
        "description": "List the registered capabilities for a specific agent.",
        "tags": ["Agents"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Agent capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "capabilities": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/search": {
      "get": {
        "operationId": "searchAgents",
        "summary": "Search agents by capability",
        "description": "Search for agents that provide a specific capability.",
        "tags": ["Agents"],
        "parameters": [
          { "name": "capability", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Capability to search for" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Matching agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent_id": { "type": "string" },
                          "capabilities": { "type": "array", "items": { "type": "string" } },
                          "status": { "type": "string" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/health": {
      "get": {
        "operationId": "getAgentHealth",
        "summary": "Agent health check",
        "description": "Check the health status of a specific agent.",
        "tags": ["Agents"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Agent health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "healthy": { "type": "boolean" },
                    "last_heartbeat": { "type": "string", "format": "date-time" },
                    "latency_ms": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/discover": {
      "get": {
        "operationId": "discoverAgents",
        "summary": "Discover agents (A2A compatible)",
        "description": "Discover available agents in the network. Compatible with Google A2A discovery protocol.",
        "tags": ["Free", "Agents"],
        "responses": {
          "200": {
            "description": "List of discoverable agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent_id": { "type": "string" },
                          "capabilities": { "type": "array", "items": { "type": "string" } },
                          "status": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/update": {
      "post": {
        "operationId": "updateAgent",
        "summary": "Update agent capabilities",
        "description": "Update the capabilities and metadata of a registered agent.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string", "example": "my-agent-001" },
                  "capabilities": { "type": "array", "items": { "type": "string" } },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/deregister": {
      "post": {
        "operationId": "deregisterAgent",
        "summary": "Deregister an agent",
        "description": "Remove an agent from the swarm topology.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string", "example": "my-agent-001" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent deregistered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "deregistered_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "deregistered" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/message": {
      "post": {
        "operationId": "messageAgent",
        "summary": "Send direct message to agent",
        "description": "Send a direct message to a specific agent in the swarm.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_agent_id", "message"],
                "properties": {
                  "target_agent_id": { "type": "string" },
                  "message": { "type": "object" },
                  "sender_agent_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message delivered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": { "type": "string" },
                    "delivered": { "type": "boolean" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/negotiate": {
      "post": {
        "operationId": "negotiateAgents",
        "summary": "Negotiate terms between agents",
        "description": "Negotiate terms and conditions between two agents for a collaborative task.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["initiator_id", "responder_id", "terms"],
                "properties": {
                  "initiator_id": { "type": "string" },
                  "responder_id": { "type": "string" },
                  "terms": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negotiation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "negotiation_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["accepted", "rejected", "pending"] },
                    "agreed_terms": { "type": "object" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/delegate": {
      "post": {
        "operationId": "delegateTask",
        "summary": "Delegate task to another agent",
        "description": "Delegate a task to another agent in the swarm network.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["from_agent_id", "to_agent_id", "task"],
                "properties": {
                  "from_agent_id": { "type": "string" },
                  "to_agent_id": { "type": "string" },
                  "task": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task delegated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delegation_id": { "type": "string" },
                    "status": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/semantic-diff": {
      "post": {
        "operationId": "semanticDiff",
        "summary": "Semantic diff between agent outputs",
        "description": "Compute a semantic diff between two agent outputs to identify meaningful differences. Costs $0.04/call.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["output_a", "output_b"],
                "properties": {
                  "output_a": { "type": "string" },
                  "output_b": { "type": "string" },
                  "context": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Semantic diff result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "similarity_score": { "type": "number", "format": "float" },
                    "differences": { "type": "array", "items": { "type": "object" } },
                    "summary": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/agents/contradiction": {
      "post": {
        "operationId": "detectContradiction",
        "summary": "Detect contradictions in agent outputs",
        "description": "Detect logical contradictions between agent outputs. Costs $0.02/call.",
        "tags": ["Agents"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["statements"],
                "properties": {
                  "statements": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["The model accuracy is 95%", "The model fails 20% of the time"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contradiction detection result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contradictions_found": { "type": "boolean" },
                    "contradictions": { "type": "array", "items": { "type": "object" } },
                    "confidence": { "type": "number", "format": "float" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/swarm/inbox": {
      "get": {
        "operationId": "pollSwarmInbox",
        "summary": "Poll swarm inbox",
        "description": "Poll queued messages for the registered agent. No authentication required.",
        "tags": ["Free", "Agents"],
        "responses": {
          "200": {
            "description": "Queued messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                }
              }
            }
          }
        }
      }
    },
    "/v1/swarm/relay": {
      "post": {
        "operationId": "swarmRelay",
        "summary": "Relay message through swarm",
        "description": "Relay a message through the swarm network to reach a target agent.",
        "tags": ["Swarm"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_agent_id", "message"],
                "properties": {
                  "target_agent_id": { "type": "string" },
                  "message": { "type": "object" },
                  "ttl": { "type": "integer", "description": "Hop limit for relay" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message relayed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relay_id": { "type": "string" },
                    "hops": { "type": "integer" },
                    "delivered": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/swarm/broadcast": {
      "post": {
        "operationId": "swarmBroadcast",
        "summary": "Broadcast to all swarm members",
        "description": "Broadcast a message to all members of the swarm group.",
        "tags": ["Swarm"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "object" },
                  "group_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "broadcast_id": { "type": "string" },
                    "recipients": { "type": "integer" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/swarm/join": {
      "post": {
        "operationId": "swarmJoin",
        "summary": "Join swarm group",
        "description": "Join a swarm group to receive broadcasts and participate in swarm activities.",
        "tags": ["Swarm"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "group_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Joined swarm group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "group_id": { "type": "string" },
                    "joined_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/swarm/leave": {
      "post": {
        "operationId": "swarmLeave",
        "summary": "Leave swarm group",
        "description": "Leave a swarm group.",
        "tags": ["Swarm"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "group_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Left swarm group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "group_id": { "type": "string" },
                    "left_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/swarm/topology": {
      "get": {
        "operationId": "getSwarmScopedTopology",
        "summary": "Swarm-scoped topology",
        "description": "Returns swarm-scoped topology. Same data as /v1/agents/topology but scoped to the swarm group.",
        "tags": ["Free", "Swarm"],
        "responses": {
          "200": {
            "description": "Swarm topology",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": { "type": "integer" },
                    "edges": { "type": "integer" },
                    "average_degree": { "type": "number", "format": "float" },
                    "components": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/swarm/peers": {
      "get": {
        "operationId": "getSwarmPeers",
        "summary": "List swarm peers",
        "description": "List all peers in the swarm group.",
        "tags": ["Free", "Swarm"],
        "responses": {
          "200": {
            "description": "Swarm peers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "peers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent_id": { "type": "string" },
                          "status": { "type": "string" },
                          "joined_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/oracle/hallucination": {
      "post": {
        "operationId": "detectHallucination",
        "summary": "Hallucination oracle",
        "description": "Detect hallucinations with a certified upper bound. Returns a formally proved hallucination probability bound. Costs $0.002/call.",
        "tags": ["Oracle"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["claim"],
                "properties": {
                  "claim": { "type": "string", "example": "Water boils at 100°C at sea level" },
                  "context": { "type": "string", "example": "physics" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hallucination analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": { "type": "string" },
                    "context": { "type": "string" },
                    "hallucination_bound": { "type": "number", "format": "float", "example": 0.0012 },
                    "verified": { "type": "boolean", "example": true },
                    "proof_type": { "type": "string", "example": "formal" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "claim": "The capital of France is Paris",
                  "context": "geography",
                  "hallucination_bound": 0.0012,
                  "verified": true,
                  "proof_type": "formal",
                  "timestamp": "2026-04-09T14:30:00Z"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/register": {
      "post": {
        "operationId": "ratchetRegisterSession",
        "summary": "RatchetGate — register session",
        "description": "Register a new RatchetGate session to mitigate session fixation attacks. Costs $0.002/call.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["session_id"],
                "properties": {
                  "session_id": { "type": "string", "example": "sess-001" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string" },
                    "registered_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "registered" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/advance": {
      "post": {
        "operationId": "ratchetAdvanceSession",
        "summary": "RatchetGate — advance session",
        "description": "Advance the session ratchet window to trigger re-keying. Costs $0.002/call.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["session_id"],
                "properties": {
                  "session_id": { "type": "string", "example": "sess-001" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session advanced",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string" },
                    "advanced_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "advanced" },
                    "window": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/probe": {
      "get": {
        "operationId": "ratchetProbe",
        "summary": "RatchetGate — health probe",
        "description": "Health probe for a ratchet session. Free endpoint.",
        "tags": ["Free", "Security"],
        "responses": {
          "200": {
            "description": "Ratchet probe result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active_sessions": { "type": "integer" },
                    "healthy": { "type": "boolean" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ratchet/status": {
      "get": {
        "operationId": "ratchetStatus",
        "summary": "RatchetGate — session status",
        "description": "Check the status of a ratchet session. Costs $0.004/call.",
        "tags": ["Security"],
        "parameters": [
          { "name": "session_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Session identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["active", "expired", "revoked"] },
                    "window": { "type": "integer" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "last_advanced": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/revoke": {
      "post": {
        "operationId": "ratchetRevoke",
        "summary": "RatchetGate — revoke session",
        "description": "Revoke a ratchet session, invalidating all associated keys.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["session_id"],
                "properties": {
                  "session_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string" },
                    "revoked_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "revoked" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/verify": {
      "post": {
        "operationId": "ratchetVerify",
        "summary": "RatchetGate — verify session integrity",
        "description": "Verify the integrity of a ratchet session, ensuring no tampering has occurred.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["session_id"],
                "properties": {
                  "session_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session integrity result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string" },
                    "integrity_valid": { "type": "boolean" },
                    "proof": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/ratchet/list": {
      "get": {
        "operationId": "ratchetList",
        "summary": "RatchetGate — list active sessions",
        "description": "List all active ratchet sessions. Requires API key.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session_id": { "type": "string" },
                          "status": { "type": "string" },
                          "created_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/identity/verify": {
      "post": {
        "operationId": "verifyIdentity",
        "summary": "Topological identity verification",
        "description": "Verify agent identity in untrusted networks with Sybil-resistance and a formally proved depth limit. Costs $0.020/call.",
        "tags": ["Security", "Identity"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string", "example": "my-agent-001" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "verified": { "type": "boolean" },
                    "sybil_resistant": { "type": "boolean" },
                    "depth_limit_proved": { "type": "boolean" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/identity/register": {
      "post": {
        "operationId": "registerIdentity",
        "summary": "Register agent identity",
        "description": "Register a new agent identity in the identity registry.",
        "tags": ["Identity"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "public_key": { "type": "string" },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "registered_at": { "type": "string", "format": "date-time" },
                    "identity_hash": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/identity/lookup": {
      "get": {
        "operationId": "lookupIdentity",
        "summary": "Lookup registered identity",
        "description": "Look up a registered identity by agent ID.",
        "tags": ["Identity"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Identity details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "public_key": { "type": "string" },
                    "registered_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/identity/revoke": {
      "post": {
        "operationId": "revokeIdentity",
        "summary": "Revoke agent identity",
        "description": "Revoke a registered agent identity.",
        "tags": ["Identity"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "revoked_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "revoked" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/identity/challenge": {
      "post": {
        "operationId": "challengeIdentity",
        "summary": "Issue identity challenge",
        "description": "Issue a cryptographic challenge to verify an agent's identity.",
        "tags": ["Identity"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge_id": { "type": "string" },
                    "nonce": { "type": "string" },
                    "expires_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/identity/sybil-check": {
      "get": {
        "operationId": "sybilCheck",
        "summary": "Sybil-resistance check",
        "description": "Sybil-resistance check on the calling IP address. Free endpoint.",
        "tags": ["Free", "Identity"],
        "responses": {
          "200": {
            "description": "Sybil check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ip": { "type": "string" },
                    "sybil_score": { "type": "number", "format": "float" },
                    "suspicious": { "type": "boolean" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threat/score": {
      "post": {
        "operationId": "scoreThreat",
        "summary": "Multi-vector threat score",
        "description": "Compute a multi-vector threat score (velocity, behavioral, and intent) for an agent interaction. Costs $0.003/call.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string", "example": "my-agent-001" },
                  "context": { "type": "string", "example": "multi-agent-transaction" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Threat score result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "threat_score": { "type": "number", "format": "float" },
                    "velocity_score": { "type": "number", "format": "float" },
                    "behavioral_score": { "type": "number", "format": "float" },
                    "intent_score": { "type": "number", "format": "float" },
                    "verdict": { "type": "string", "enum": ["safe", "suspicious", "threat"] },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/threat/analyze": {
      "post": {
        "operationId": "analyzeThreat",
        "summary": "Deep threat analysis",
        "description": "Perform deep threat analysis on an agent or interaction pattern.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "interaction_log": { "type": "array", "items": { "type": "object" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Threat analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "risk_level": { "type": "string", "enum": ["low", "medium", "high", "critical"] },
                    "findings": { "type": "array", "items": { "type": "object" } },
                    "recommendations": { "type": "array", "items": { "type": "string" } },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/threat/report": {
      "post": {
        "operationId": "reportThreat",
        "summary": "Report a threat incident",
        "description": "Report a threat incident involving a specific agent.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id", "description"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "description": { "type": "string" },
                  "severity": { "type": "string", "enum": ["low", "medium", "high", "critical"] },
                  "evidence": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Threat reported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_id": { "type": "string" },
                    "status": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/threat/block": {
      "post": {
        "operationId": "blockThreat",
        "summary": "Block a threatening agent",
        "description": "Block a threatening agent from further interactions.",
        "tags": ["Security"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "reason": { "type": "string" },
                  "duration_s": { "type": "integer", "description": "Block duration in seconds, 0 for permanent" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent blocked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "blocked_at": { "type": "string", "format": "date-time" },
                    "expires_at": { "type": "string", "format": "date-time" },
                    "status": { "type": "string", "example": "blocked" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/threat/history": {
      "get": {
        "operationId": "getThreatHistory",
        "summary": "Threat history for an agent",
        "description": "Retrieve the threat history for a specific agent.",
        "tags": ["Security"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Threat history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": { "type": "string" },
                          "severity": { "type": "string" },
                          "timestamp": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/trust/decay": {
      "get": {
        "operationId": "getTrustDecay",
        "summary": "Current trust ceiling value",
        "description": "Returns the current trust ceiling value, reflecting the bounded monotonicity decay. Free endpoint.",
        "tags": ["Free", "Trust"],
        "responses": {
          "200": {
            "description": "Trust decay value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ceiling": { "type": "number", "format": "float" },
                    "decay_rate": { "type": "number", "format": "float" },
                    "epoch": { "type": "integer" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/trust/score": {
      "post": {
        "operationId": "getTrustScore",
        "summary": "Bounded trust score",
        "description": "Compute a bounded trust score for on-chain governance (TCM-100-BoundedMonotonicity). Costs $0.04/call.",
        "tags": ["Trust"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id"],
                "properties": {
                  "agent_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trust score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "trust_score": { "type": "number", "format": "float" },
                    "bounded": { "type": "boolean" },
                    "ceiling": { "type": "number", "format": "float" },
                    "proof": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/trust/history": {
      "get": {
        "operationId": "getTrustHistory",
        "summary": "Trust score history",
        "description": "Retrieve trust score history for an agent. Costs $0.04/query.",
        "tags": ["Trust"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Agent identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Trust score history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": { "type": "string" },
                    "history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trust_score": { "type": "number", "format": "float" },
                          "timestamp": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/check": {
      "post": {
        "operationId": "checkCompliance",
        "summary": "GDPR/CCPA compliance gate",
        "description": "Verify regulatory compliance for a data operation with formal proof. Supports GDPR and CCPA jurisdictions. Costs $0.005/call.",
        "tags": ["Security", "Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data_type", "jurisdiction", "operation"],
                "properties": {
                  "data_type": { "type": "string", "example": "user_pii" },
                  "jurisdiction": { "type": "string", "example": "EU" },
                  "operation": { "type": "string", "example": "store" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compliance check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data_type": { "type": "string" },
                    "jurisdiction": { "type": "string" },
                    "operation": { "type": "string" },
                    "compliant": { "type": "boolean" },
                    "proof_type": { "type": "string", "example": "formal" },
                    "regulations": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["GDPR", "CCPA"]
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/eu-ai-act": {
      "post": {
        "operationId": "euAiActCertificate",
        "summary": "EU AI Act compliance certificate",
        "description": "Generate an EU AI Act compliance certificate for an AI system. Costs $0.04/check.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["system_id", "risk_category", "intended_purpose"],
                "properties": {
                  "system_id": { "type": "string" },
                  "risk_category": { "type": "string", "enum": ["minimal", "limited", "high", "unacceptable"] },
                  "intended_purpose": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EU AI Act certificate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "certificate_id": { "type": "string" },
                    "system_id": { "type": "string" },
                    "compliant": { "type": "boolean" },
                    "risk_category": { "type": "string" },
                    "requirements": { "type": "array", "items": { "type": "object" } },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/fairness": {
      "post": {
        "operationId": "fairnessProof",
        "summary": "Fairness proof (FNS-100-FairnessBound)",
        "description": "Generate a fairness proof certificate for a model. Costs $0.04/check.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model_id", "dataset_id", "protected_attrs", "metric"],
                "properties": {
                  "model_id": { "type": "string" },
                  "dataset_id": { "type": "string" },
                  "protected_attrs": { "type": "array", "items": { "type": "string" } },
                  "metric": { "type": "string", "example": "demographic_parity" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fairness proof certificate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "certificate_id": { "type": "string" },
                    "model_id": { "type": "string" },
                    "fair": { "type": "boolean" },
                    "metric_value": { "type": "number", "format": "float" },
                    "bound": { "type": "number", "format": "float" },
                    "proof": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/explain": {
      "post": {
        "operationId": "explainabilityCertificate",
        "summary": "Explainability certificate (XPL-100-ExplainBound)",
        "description": "Generate an explainability certificate for a model decision. Costs $0.04/call.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model_id", "decision_id", "subject_context"],
                "properties": {
                  "model_id": { "type": "string" },
                  "decision_id": { "type": "string" },
                  "subject_context": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Explainability certificate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "certificate_id": { "type": "string" },
                    "explanation": { "type": "string" },
                    "features": { "type": "array", "items": { "type": "object" } },
                    "explainability_score": { "type": "number", "format": "float" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/lineage": {
      "post": {
        "operationId": "dataLineage",
        "summary": "Data lineage (LIN-100-ChainIntegrity)",
        "description": "Verify data lineage chain integrity. Costs $0.04/call.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model_id", "dataset_stages"],
                "properties": {
                  "model_id": { "type": "string" },
                  "dataset_stages": { "type": "array", "items": { "type": "object" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data lineage verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model_id": { "type": "string" },
                    "chain_valid": { "type": "boolean" },
                    "stages_verified": { "type": "integer" },
                    "proof": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/oversight": {
      "post": {
        "operationId": "logOversight",
        "summary": "Log oversight event",
        "description": "Log a human oversight event for an AI system. Costs $0.02/event.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["system_id", "reviewer_id", "decision", "notes"],
                "properties": {
                  "system_id": { "type": "string" },
                  "reviewer_id": { "type": "string" },
                  "decision": { "type": "string" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oversight event logged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_id": { "type": "string" },
                    "system_id": { "type": "string" },
                    "logged_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/oversight/history": {
      "get": {
        "operationId": "getOversightHistory",
        "summary": "Oversight history",
        "description": "Retrieve oversight event history for a system. Costs $0.02/query.",
        "tags": ["Compliance"],
        "parameters": [
          { "name": "system_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "System identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Oversight history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "system_id": { "type": "string" },
                    "events": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/incident": {
      "post": {
        "operationId": "reportIncident",
        "summary": "Report compliance incident",
        "description": "Report an AI system compliance incident. Costs $0.02/report.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["system_id", "severity", "description", "affected_users"],
                "properties": {
                  "system_id": { "type": "string" },
                  "severity": { "type": "string", "enum": ["low", "medium", "high", "critical"] },
                  "description": { "type": "string" },
                  "affected_users": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident reported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "incident_id": { "type": "string" },
                    "system_id": { "type": "string" },
                    "status": { "type": "string" },
                    "reported_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/incidents": {
      "get": {
        "operationId": "getIncidents",
        "summary": "Incident registry",
        "description": "Retrieve the incident registry for a system. Costs $0.02/query.",
        "tags": ["Compliance"],
        "parameters": [
          { "name": "system_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "System identifier" }
        ],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "responses": {
          "200": {
            "description": "Incident registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "system_id": { "type": "string" },
                    "incidents": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/compliance/transparency": {
      "post": {
        "operationId": "transparencyReport",
        "summary": "Transparency report",
        "description": "Generate a transparency report for an AI system. Costs $0.08/report.",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["system_id", "period", "include"],
                "properties": {
                  "system_id": { "type": "string" },
                  "period": { "type": "string", "example": "2026-Q1" },
                  "include": { "type": "array", "items": { "type": "string" }, "example": ["incidents", "oversight", "fairness"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transparency report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_id": { "type": "string" },
                    "system_id": { "type": "string" },
                    "period": { "type": "string" },
                    "sections": { "type": "object" },
                    "generated_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/drift/check": {
      "post": {
        "operationId": "driftCheck",
        "summary": "DriftGuard check (DRG-100-DriftBound)",
        "description": "Check for model drift between reference and current windows. Costs $0.01/check.",
        "tags": ["Drift"],
        "security": [{ "ApiKeyAuth": [] }, { "X402PaymentProof": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model_id", "reference_window", "current_window"],
                "properties": {
                  "model_id": { "type": "string" },
                  "reference_window": { "type": "object" },
                  "current_window": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drift check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
